
.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
    width: 40px;
    height: 40px;
  }
  
  .form-control::placeholder {
    color: #bbb !important;
  }
  
  .evenly-space {
    display: flex;
    justify-content: space-evenly;
  }
  
  .space {
    width: 100%;
    overflow: hidden;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .form-box {
    height: 100%;
    overflow: hidden;
  }
  
  .center {
    text-align: center;
  }
  
  .border {
    border: 1px solid black;
  }
  
  .hide-when-desktop {
    display: none;
  }
  
  .hide-when-mobile {
    display: flex;
  }
  
  .show-mobile {
    display: none;
  }
  
  .show-tablet {
    display: none;
  }
  
  .form-control-lg {
    font-size: 1rem;
  
    padding: 0 0.5rem;
  }
  
  .container {
    padding-right: 0;
    padding-left: 0;
  }
  
  input[type="date"] {
    padding-right: 0;
  }
  
  .row {
    margin-left: 0;
    margin-right: 0;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 1140px;
      width: 100%;
    }
  }
  
  @media screen and (max-width: 1200px) {
  }
  
  @media screen and (max-width: 767px) {
    .hide-when-desktop {
      display: block;
    }
  
    .hide-when-tablet {
      display: none;
    }
  
    .show-tablet {
      display: block;
    }
  
    .column-tablet {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 480px) {
    .show-mobile {
      display: block;
    }
  
    .hide-when-mobile {
      display: none;
    }
  
    h1.display-4 {
      font-size: 2.5rem;
    }
  
    .center-mobile {
      text-align: center;
    }
  
    .mb-5,
    .my-5 {
      margin-bottom: 1.5rem !important;
    }
  }
  